{
  "swagger" : "2.0",
  "info" : {
    "description" : "Sample API for keeping a history of IoT devices.",
    "version" : "1.0.0",
    "title" : "IoT Historian API",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "historian.api",
  "basePath" : "/v1",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/deviceData/{deviceId}" : {
      "post" : {
        "summary" : "Add data to the device history",
        "description" : "Adds a data point from an IoT device. Once saved, calculates the running average of the existing data, saves it idempotentently and returns it.",
        "operationId" : "addDeviceData",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "description" : "Device Id",
          "required" : true,
          "type" : "string",
          "maxLength" : 36,
          "minLength" : 36,
          "pattern" : "^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
        }, {
          "name" : "datapointId",
          "in" : "query",
          "description" : "Each data point needs to have a unique ID",
          "required" : true,
          "type" : "string",
          "maxLength" : 36,
          "minLength" : 36,
          "pattern" : "^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
        }, {
          "name" : "timestamp",
          "in" : "query",
          "description" : "Timestamp when received from the device.",
          "required" : true,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "value",
          "in" : "query",
          "description" : "Value registered by the device.",
          "required" : true,
          "type" : "number",
          "format" : "float"
        } ],
        "responses" : {
          "201" : {
            "description" : "Data added successfully.",
            "schema" : {
              "type" : "number",
              "format" : "float"
            }
          },
          "400" : {
            "description" : "Invalid input parameter.",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "An unexpected error occurred.",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Error" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "Error code set by the operation."
        },
        "message" : {
          "type" : "string",
          "description" : "Message related with the error."
        }
      }
    }
  },
  "responses" : {
    "Standard500ErrorResponse" : {
      "description" : "An unexpected error occurred.",
      "schema" : {
        "$ref" : "#/definitions/Error"
      }
    },
    "Standard401InvalidInput" : {
      "description" : "Invalid input parameter.",
      "schema" : {
        "$ref" : "#/definitions/Error"
      }
    }
  }
}
